body {
  margin: 0px;
}

.site-container {
  text-align: center;
  max-width: 360px;
  /* padding: 10px; */
  box-shadow: 5px 0 15px -4px rgba(0, 0, 0, 0.8), -5px 0 8px -4px rgba(0, 0, 0, 0.8);
  margin: 0 auto;
  margin-top: 65px;
  font-family: 'Montserrat', sans-serif;
}

.nav-button {
  display: flex;
  flex-direction: column;
  color: #00eaff;
}

.nav-button i{
  font-size: 1.7em;
}

.nav-button img{
  height: 40px;
  width: auto;
}
.nav-button label{
  font-size: 12px;
  color: #fafafa;
  margin-top: 3px;
}

.nav-bar {
  display: flex;
  justify-content: center;
  gap: 15px;
  padding: 10px;
  background-color: #2f2f2f;
  color: #606164;
  position: fixed;
  z-index: 5;
  width: 340px;
  text-align: center;
  margin-top: -65px;
  border-bottom: 2px solid #ff0077;
}

.idol-member{
  border: 1px solid black;
  border-radius: 10px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.082);
  padding: 20px;
  margin: 5px;
  text-align: center;
  max-width: 200px;
  height: 190px;
  display: inline-block;
  overflow-wrap: anywhere;
}

.idol-member h3{
  margin: 0px;
}

.card .card-title{
  font-family: Arial, sans-serif;
  margin: 0;
  color: rgba(21, 23, 153, 0.651);
}

.card .card-text{
  font-family: Arial, sans-serif;
  color: rgba(21, 23, 153, 0.432);
}


.idol-group-card {
  border: 1px solid black;
  border-radius: 10px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.082);
  padding: 20px;
  margin: 5px;
  text-align: center;
  max-width: 200px;
  height: 180px;
  display: inline-block;
  overflow-wrap: anywhere;
}


.idol-logo-search {
    max-width: 60%;
    height: "auto";
}

.group-list-container {
  text-align: center;
  display: grid;
  grid-template-columns: repeat(auto-fill, 200px);
  justify-content: center;
}

/* .idol-group-members {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    background-color: aqua;
} */

/* .idol-group-members::-webkit-scrollbar {
  display: none;
} */

.group-page-container {
  text-align: center;
  max-width: 450px;
  /* padding: 10px; */
  /* box-shadow: 5px 0 15px -4px rgba(0, 0, 0, 0.8), -5px 0 8px -4px rgba(0, 0, 0, 0.8); */
  margin: 0 auto;
  font-size: 12px;
}

.locationGenre {
  font-size: 16px;
}

.idol-logo {
  max-width: 50%;
  height: "auto";
}

.individual-member-socials a{
  font-size: 2.3em;
  padding: 4px;
  color:#ff0077;
}

.group-socials a{
  font-size: 3em;
  padding: 4px;
  margin: 4px;
  color:#ff0077;
}

.group-page-container h1 {
  font-size: 38px;
}

.group-page-container h2 {
  font-size: 28px;
}

.event-info {
  margin-left: 10px;
  text-align: left;
  gap: 10px;
  display: flex;
  flex-direction: column;
}

.event-img-search {
  height: 100px;
  width: auto;
  border-radius: 10px;
}

.event-card-short {
    /* display: flex;
  align-items: center;
  gap: 15px;
  margin-bottom: 15px;
  padding: 10px;
  font-size: 1em;
  width: 360px; */
  text-align: center;
  /* background-color: #e9e9e9; */
  border: 1px solid black;
  border-radius: 10px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.082);

  /* padding: 20px;
  margin: 5px;
  text-align: center;
  max-width: 160px; */

  height: 110px;
  display: flex;
  width: 100%;
  margin: 5px 0 5px 0;
  align-items: center;
}

.event-list-container {
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.event-group-image{
  width: 100px;
  height: 100px;
  overflow: hidden;
}

.event-group-image img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.event-header{
  width: 340px;
  height: 200px;
  overflow: hidden;
}

.event-header img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  margin-top: 10px;
}

.main-body {
  padding: 10px;
  margin-top: 60px;
  background-color: #fafafa;
}

.main-body-filter {
  padding: 10px;
  margin-top: -20px;
}

/* .event-poster-container {
  width: 300px;
} */

.event-info-poster {
  color: white;
}

/* .event-info-poster::after {
  content: "";
  position: absolute;
  z-index: 1;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 45%; 

  background: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.95),  
    rgba(0, 0, 0, 0)      
  );
} */

.event-info-poster-text {
  color: #2f2f2f;
  z-index: 2;
  font-size: 14px;
  border: 1px solid #2f2f2f;
  background-color: #fafafa;
  border-radius: 10px;
  height: 70px;
  text-align: center;
  justify-content: center;
  width: 230px;
  margin: 3px;
}

.event-poster-full-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center
}

.event-poster-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.event-poster-image {
  height: 320px;
  width: 240px;
  overflow: hidden;
  margin-bottom: 10px;
}

.event-poster-image-postercon{
  height: 320px;
  width: 240px;
  overflow: hidden;
  margin-bottom: 10px;
}

.event-poster-image-postercon{
  width: 100%;
  height: 100%;
  object-fit: cover;
}



.event-info-name {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  height: 17px;
  margin-top: 5px;
}

.event-poster-image img{
  height: 100%;
  width: 100%;
  border-radius: 15px;
}

.SwiperEvent {
  background: #e8fdff;
  height: 465px;
  border-radius: 15px;
  border: 1px solid #2f2f2f;
}

.main-swiper {
  margin-left: 20px;
  margin-right: 20px;
  position: relative;
  z-index: 1;
}

.main-swiper h5{
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
  margin: 0;
  padding: 8px;
}


/* Calendar */

.calendar {
  width: 340px;
  font-family: sans-serif;
}

.header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

.header h2 {
  text-align: center;
}

.header button:first-child {
  justify-self: start;
}

.header button:last-child {
  justify-self: end;
}

/* Days of week row */
.row {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

/* Day names */
.day {
  text-align: center;
  padding: 8px 0;
  font-size: 13px;
}

/* Calendar body */
.body {
  display: grid;
  flex-direction: column;
}

/* Each cell */
.cell {
  /* border: 1px solid #eee; */
  min-height: 36px;
  max-width: 48px;
  padding: 4px;
  display: grid;
  flex-direction: column;
}

/* Outside current month */
.cell.disabled {
  opacity: 0.4;
}

/* Today */
.cell.selected .date-number{
  background: #2f2f2f;
  color: white;
  border-radius: 6px;
}

.date-number {
  font-size: 12px;
  margin-bottom: 6px;
  height: 15px;
  font-weight: bold;
  margin-top: 6px;
}

.calEvents {
  display: grid;
  flex-direction: column;
  gap: 2px;
}

.calEvent {
  background: #f9f9f9;
  color: #2f2f2f;
  font-size: 10px;
  padding: 2px 4px;
  border-radius: 3px;
  text-align: left;
  overflow: hidden;
  border-left: 4px solid #eee;
  line-height: 135%;
  font-weight: 400;
  /* width: 100%; */
  margin-bottom: 2px;
  height: 27px;

  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.row {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  border-top: 2px solid #eee;
}

.row .cell:nth-child(7n + 1) .date-number {
  color: rgb(196, 18, 18);
}

.row .cell:nth-child(7n) .date-number {
  color: rgb(50, 50, 209);
}


.row .col.day:nth-child(7n + 1) {
  color: rgb(196, 18, 18);
}

.row .col.day:nth-child(7n) {
  color: rgb(50, 50, 209);
}

.monthSelector {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
}

.monthArrow {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-top: 30px;
  font-size: 1em;
  text-align: center;
  background-color: white;
  border: 1px solid rgb(119, 119, 119);
}

.button:hover {
  background-color: rgb(207, 207, 207);
}

.currentMonthDisplay {
  width: 120px;
}

.currentMonthDisplay h2{
  height: 56px;
  display: flex;
  align-items: center;
}

.monthToday {
  font-size: 14px;
  background-color: #eee;
  border: none;
  font-weight: bold;
  padding: 12px;
  border-radius: 10%;
}

.shareQr {
  height: auto;
  width: -webkit-fill-available;
}

.filterSelectContainer {
  padding-top: 10px;
  padding-bottom: 8px;
  background-color: #323232;
  border-bottom: 2px solid #ff0077;
  font-size: 16px;
}

.filterSelectContainer label{
  color:#fafafa ;
  padding: 4px 12px;
}

.filterSelecter {
  background-color: #fafafa  ;
  font-size: 16px;
  color:#2f2f2f;
  border-radius: 12px;
  border: none;
  padding: 2px 12px;
}

.filterMultiSelect {
  font-size: 16px;
}

.event-group-card {
  border: 1px solid black;
  border-radius: 10px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.082);
  padding: 20px;
  margin: 5px;
  text-align: center;
  max-width: 130px;
  height: 180px;
  display: inline-block;
  width: 103px;
  overflow-wrap: anywhere;
}

.idolgroup-info strong{
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.image-veiwer {
  position: relative;
  z-index: 6;
}

.image-veiwer img{
  height: 100%;
  width: 100%;
}

.image-veiwer-closer {
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px;
  margin: 5px;
  border-radius: 50%;
  height: 45px;
  width: 45px;
  color: white;
  background-color: #0000006c;
  border: none;
  z-index: 7;
}

.eventTicket {
  text-decoration: 'none';
  color: #2f2f2f;
  font-size: 4em;
}

.hompage-intro {
  color: #2f2f2f;
  margin-left: 20px;
  margin-right: 20px;
}

.hompage-intro h5 {
  margin-top: 15px;
}
.hompage-intro p {
  margin-top: 0px;
  text-align: left;
  font-size: 12px;
}


.event .swiper-pagination-bullet{
  background-color: white;
  border: 1px solid #ff0077;
  opacity: 1;
}

.event .swiper-pagination-bullet-active{
  background-color: #ff0077;
}


.idol-group-members .swiper-pagination-bullet{
  background-color: white;
  border: 1px solid #ff0077;
  opacity: 1;
}

.idol-group-members .swiper-pagination-bullet-active{
  background-color: #ff0077;
}


.main-swiper .swiper-pagination-bullet{
  background-color: white;
  border: 1px solid #ff0077;
  opacity: 1;
}

.main-swiper .swiper-pagination-bullet-active{
  background-color: #ff0077;
}

.glossary-container {
  font-size: 12px;
}

.glossary-container-info {
  text-align: left;
  margin-left: 20px;
  margin-right: 20px;
}

.glossary-container-info a{
  color: #ff0077;
}

.main-swiper .swiper-button-prev{
  color: #ff0077;
  width: 20px;
  height: 20px;
  margin-left: -3px;
}
.main-swiper .swiper-button-next{
  color: #ff0077;
  width: 20px;
  height: 20px;
  margin-left: 3px;
}

.arrow-left,
.arrow-right {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
  cursor: pointer;
  font-size: 2rem;
  color: #ff0077;
  padding: 10px;
  padding-bottom: 40px;
  user-select: none;
  height: 10px;
  width: 10px;
  padding-right: 20px;
}

.arrow-left {
  left: -8px;
}

.arrow-right {
  right: -8px;
}

.filterSelectGenre {
  width: 300px;
  display: inline-flex;
  margin-top: 10px;
  margin-left: 35px;
}

.filterSelectGenre input {
  border-radius: 8px;
  border: none;
}

.forms-data-container {
  color: #ffffff;
  background: #ff0077;
  border-radius: 15px;
  border: 1px solid #ff0077;
  margin-top: 10px;
  margin-left: 30px;
  margin-right: 30px;
}

.forms-data-container h5{
  margin-top: 10px;
  margin-bottom: 10px;
}

.nav-bar-back {
  display: flex;
  gap: 15px;
  padding: 10px;
  background-color: #2f2f2f;
  color: #606164;
  position: fixed;
  z-index: 5;
  width: 340px;
  text-align: center;
  margin-top: -65px;
  border-bottom: 2px solid #ff0077;
  height: 45.2px;
}

.nav-bar-back .nav-button i{
  font-size: 2.8em;
}

.large-social {
  color: #ff0077;
}

footer {
  background-color: #2f2f2f;
  color: #fafafa;
  text-align: center;
  padding: 16px;
  border-top: 2px solid #ff0077;
  font-family: 'Montserrat', sans-serif;
  font-size: 13px;
}

footer a{
  color: #fafafa;
  font-size: 22px;
}